:root {
    --main-bg-color: #ffda07;
    --main-text-color: #eee8e8;
    --second-text-color: #d3f5fa;
    --second-bg-color: #7fa897;

  }
  


  #contenedortabla {
   position: relative;
   width: max-content ;
  }


  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }

  .tableAux{
    width: 595pt;
    border: 1px solid #000000ee;
  }
  
  .dropdown-item{
    color: #d3f5fa ;
  }
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #0d2e3f,
      #1581a5,
      #1581a5,
      #16a1c4,
      #60d4ea
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    background-color: #0d2e3f ;
  }

    
  .btn-toggle::before {
    /* Estilos cuando el botón está expandido, por ejemplo, rotación del icono */
    transform: rotate(90deg);
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }


  